#Bmenu{
margin-top: 60px;
margin-left: 00px;
visibility: visible;
transition-property: transform, opacity;
transition-duration: 0.2s;
border: 0px solid white;
transform: translatex(-500px);
}

#Bmenu.Show{
opacity: 1;
transform: translatex(0px);
}

.test{
	background-color: red;
	width:300px;
}

#TowerDesPanel{
	flow-children:down;
	border: 2px solid #707070;
	border-radius:2px;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
}

#TowerTittle{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	color:white;
	font-size: 22px;
}
#TowerDes{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	color:white;
	font-size: 18px;
}
#content{
background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
box-shadow: black -4px -4px 8px 8px;
width: 500px;
height: 700px;
border: 1px solid #707070;
border-radius:20px;
}



#MainButtonPanel{
margin-top: 2px;
margin-left: 0px;
width: 500px;
height: 140px;
border: 1px solid #707070;
border-radius:20px;
flow-children:right;
}

#title{
margin-top: 10px;
margin-left: 30px;
color: #f1f1f1;
font-size: 25px;
width: 200px;

}

.mainbutton{
margin-top: 55px;
margin-left:55px;
color: #ffffff;
width: 65px;
height: 65px;
border: 1px solid #707070;
border-radius:100px;
}
.mainbutton:hover{
color: #ffffff;
border: 2px solid #7cfc00;
}

#earth{
	margin-left:-195px;
}





.submenu{
margin-top: 140px;
margin-left: 20px;
width: 500px;
height: 650px;
vertical-align:center;
flow-children:right;
}

.submenu.Hidden
{
visibility:collapse;
}




#subtittle{
margin-top: 10px;
margin-left: 10px;
color: #f1f1f1;
font-size: 25px;
width: 120px;

}


.TowerPanel{
margin-left:20px;
margin-top: 50px;
flow-children:down;
width: 100px;
height: 490px;
border: 1px solid #707070;
border-radius:20px;
}

#EarthTower{
	margin-left:-130px;
}
#WaterTower{
	margin-left:-130px;
}
#FireTower{
	margin-left:-130px;
}
#AirTower{
	margin-left:-130px;
}
.TowerLevel{
	font-size: 22px;
	text-shadow: 2px 2px 2px black;
   	margin-left:0px;
    margin-top:0px;
	background-color:green;
	width:97px;
	height:45px;
	padding-top:8px;
	text-align:center;
}

.subbutton{
color: #ffffff;
width: 80px;
height: 45px;
margin-left:10px;
margin-top:15px;
border: 1px solid #707070;
border-radius:5px;
}

.disable{
background-color: #404040dd;
width: 80px;
height: 45px;
border: 1px solid #707070;
border-radius:5px;
visibility:visible;
}
.disable:hover{
border: 2px solid #ff0000dd;
border-radius:5px;
}
.enable{
background-color: none;
}
.enable:hover{
border: 2px solid #7cfc00dd;
border-radius:5px;
}

.TowerDes{
	width:100px;
	background-color: red;
	height: 200px;
}