
#main{
margin-top: 50px;
margin-left: 0px;
width: 1920px;
height: 900px;

}
.timer{
margin-top: 80px;
margin-left: 1620px;
color: #ffffff;
padding-left: 16px;
padding-right: 16px;
background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
box-shadow: black -4px -4px 8px 8px;
}

.AspectRatio5x4 .timer
{
    margin-top: 50px;
    margin-left: 1050px;
}

.AspectRatio4x3 .timer
{
    margin-top: 50px;
    margin-left: 1100px;
}

.AspectRatio16x10 .timer
{
    margin-top: 50px;
    margin-left: 1400px;
}

.timer.Hidden{
visibility:collapse;
}
#time{
font-size: 30px;
}

#LevelDes{
	font-size: 25px;
	margin-left: 0px;
	margin-top:10px;
	color: #d0d0d0;
}


#WaveAlert
{
    flow-children: down;
    color: white;
    horizontal-align: center;
    margin: 0px;
    margin-top: 200px;
    font-size: 96px;
    font-weight: bold;
    opacity: 0;
    visibility: visible;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    border: 0px solid white;
    transform: scaleX(1.5) scaleY(1.5);
}



.ShowAlert #WaveAlert
{
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    visibility: visible;
}

#WaveAlert_Text
{
    text-shadow: 2px 2px 2px #121212;
    color: #dddddd;
    horizontal-align: center;
    font-size: 60px;
}


#skillerr
{
    flow-children: down;
    color: white;
    horizontal-align: center;
    margin: 0px;
    margin-top: 720px;
    font-size: 6px;
    opacity: 0;
    visibility: visible;
    transition-property: transform, opacity;
    transition-duration: 0.1s;
    border: 0px solid white;
    transform: scaleX(1.2) scaleY(1.2);
}

.ErrAlert #skillerr
{
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    visibility: visible;
}

#msg
{
    text-shadow: 1px 1px 1px #121212;
    color: #ff0111;
    horizontal-align: center;
    font-size: 32px;
}


