#Main{
	width: 450px;
	height:100px;
	margin-left: 840px;
    margin-top: 800px;
    background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
    box-shadow: black -4px -4px 8px 8px;
	flow-children:right;
		border: 1px solid #707070;
	border-radius:15px;
}
#Main.Hidden{
	visibility: collapse;
}

.button{
	margin-left:33px;
    margin-top: 12px;  
	width: 70px;
	height:70px;	
	color: #ffffff;
	border: 1px solid #707070;
	border-radius:15px;
}
.button:hover{
	color: #ffffff;
	border: 2px solid #7cfc00;
}
