
.defultStyle{
    font-size: 17px;
	letter-spacing: 1px;
    color: #eeeeee;
	margin-top:4px;
	margin-left: 10px;
}

#upcost{
margin-top: 0px;
margin-left: 0px;
color: gold;
font-size: 12px;
}

#refund{
margin-top: 0px;
margin-left: 0px;
color: green;
font-size: 12px;
}


.CostPanel{
margin-top: 1030px;
margin-left: 1250px;
height: 11px;
background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
box-shadow: black -4px -4px 8px 8px;
}
.CostPanel.Hidden{
	visibility:collapse;
}

.AspectRatio5x4 .CostPanel
{
	margin-top: 1032px;
	margin-left: 940px;
}

.AspectRatio4x3 .CostPanel
{
	margin-top: 1030px;
	margin-left: 1000px;
}

.AspectRatio16x10 .CostPanel
{
	margin-top: 1030px;
	margin-left: 1150px;
}


.RefundPanel{
margin-top: 1030px;
margin-left: 1145px;
height: 11px;
background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
box-shadow: black -4px -4px 8px 8px;
}
.RefundPanel.Hidden{
	visibility:collapse;
}

.AspectRatio5x4 .RefundPanel
{
	margin-top: 1032px;
	margin-left: 840px;
}

.AspectRatio4x3 .RefundPanel
{
	margin-top: 1030px;
	margin-left: 895px;
}

.AspectRatio16x10 .RefundPanel
{
	margin-top: 1030px;
	margin-left: 1045px;
}


#MergeButton{
	width: 60px;
	height: 60px;
	margin-top: 960px;
	margin-left: 1380px;
	border: 1px solid #707070;
	border-radius:2px;
}

.AspectRatio5x4 #MergeButton
{
	width: 65px;
	height: 65px;
	margin-top: 932px;
	margin-left: 1275px;
}

.AspectRatio4x3 #MergeButton
{
	width: 68px;
	height: 68px;
	margin-top: 921px;
	margin-left: 1359px;
}

.AspectRatio16x10 #MergeButton
{
	margin-top: 950px;
	margin-left: 305px;
}


#MergeButton:hover{
	color: #ffffff;
	border: 2px solid #7cfc00;
}
#MergeButton.Hidden{
	visibility:collapse;
}
#MergeDes{
	margin-top: 760px;
	margin-left: 120px;
	width: 240px;
	height: 140px;
	border: 2px solid #707070;
	border-radius:2px;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
	box-shadow: black -4px -4px 8px 8px;
}

.AspectRatio5x4 #MergeDes
{
	margin-top: 921px;
	margin-left: 1059px;
}

.AspectRatio4x3 #MergeDes
{
	margin-top: 921px;
	margin-left: 1059px;
}

.AspectRatio16x10 #MergeDes
{
	margin-top: 950px;
	margin-left: 305px;
}

#MergeDes.Hidden{
	visibility:collapse;
}